<h1 id="breadcrumb">Breadcrumb</h1>
<p>Breadcrumbs should be used as a navigational aid in your app or site. They indicate the current page’s location within a hierarchy and help the user understand where they are in relation to the rest of that hierarchy. They also afford one-click access
    to higher levels of that hierarchy. Breadcrumbs are typically placed, in horizontal form, under the masthead or navigation of an experience, above the primary content area.</p>
<h2 id="best-practices">Best Practices</h2>
<table>
    <thead>
        <tr>
            <th>Do</th>
            <th>Don&#39;t</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Place Breadcrumbs at the top of a page, above a list of items, or above the main content of a page.</td>
            <td>Don&#39;t use Breadcrumbs as a primary way to navigate an app or site.</td>
        </tr>
    </tbody>
</table>
<h2 id="variants">Variants</h2>
<h3 id="default">Default</h3>

{{> BreadcrumbExample props=BreadcrumbExampleModel }}

<h2 id="states">States</h2>
<table>
    <thead>
        <tr>
            <th>State</th>
            <th>Applied to</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>.is-overflow</code></td>
            <td><code>.ms-Breadcrumb</code></td>
            <td>Use this class to show an ellipsis, which opens a Contextual Menu of additional breadcrumbs. Without this class items that do not fit will be unavailable.</td>
        </tr>
        <tr>
            <td><code>.is-open</code></td>
            <td><code>.ms-Breadcrumb-overflowMenu</code></td>
            <td>Displays the overflow menu.</td>
        </tr>
    </tbody>
</table>
<h2 id="using-this-component">Using this component</h2>
<ol>
    <li>Confirm that you have references to Fabric&#39;s CSS and JavaScript on your page:<pre><code> &lt;head&gt; 
     &lt;link rel=&quot;stylesheet&quot; href=&quot;fabric.min.css&quot;&gt;
     &lt;link rel=&quot;stylesheet&quot; href=&quot;fabric.components.min.css&quot;&gt;
     &lt;script src=&quot;fabric.min.js&quot;&gt;&lt;/script&gt;
 &lt;/head&gt;
</code></pre></li>
    <li>Copy the HTML from the sample above into your page. For example:
        <pre>
 <code>
{{renderPartialPre "Breadcrumb" "BreadcrumbExample" BreadcrumbExampleModel false}}
 </code>
</pre>
    </li>
    <li>Add the following <code>&lt;script&gt;</code> tag to your page, below the references to Fabric&#39;s JS, to instantiate all Breadcrumb components on the page:
        <pre>
 <code>
{{renderPartialPre "Breadcrumb" "BreadcrumbExampleJS" "" false}}
 </code>
</pre>
    </li>
    <li>Verify that the component is working the same as in the sample above.</li>
    <li>Replace the sample HTML content (such as the <code>.ms-Breadcrumb-listItem</code> elements) with your content.</li>
</ol>
<h2 id="dependencies">Dependencies</h2>
<p>ContextualMenu</p>
<h2 id="accessibility">Accessibility</h2>
<p>The component&#39;s JavaScript will apply the correct <code>tabindex</code> values to ensure keyboard accessibility.</p>

{{> BreadcrumbExampleJS }}