<h1 id="persona-card">Persona Card</h1>
<p>The visualization of details of an individual including Skype contact details, email, location information, and location within the hierarchy of an organization. Within Office 365, PersonaCards often appear when a user hovers, taps, or clicks on a Persona.</p>
<h2 id="variants">Variants</h2>
<h3 id="default">Default</h3>

{{> PersonaCardExample props=PersonaCardExampleModel.default}}

<h2 id="using-this-component">Using this component</h2>
<ol>
    <li>Confirm that you have references to Fabric&#39;s CSS and JavaScript on your page:<pre><code> &lt;head&gt;
     &lt;link rel=&quot;stylesheet&quot; href=&quot;fabric.min.css&quot;&gt;
     &lt;link rel=&quot;stylesheet&quot; href=&quot;fabric.components.min.css&quot;&gt;
     &lt;script src=&quot;fabric.min.js&quot;&gt;&lt;/script&gt;
 &lt;/head&gt;
</code></pre></li>
    <li>Copy the HTML from one of the samples above into your page. For example:
        <pre>
 <code>
{{renderPartialPre "PersonaCard" "PersonaCardExample" PersonaCardExampleModel.default false}}
 </code>
</pre>
    </li>
    <li>Add the following <code>&lt;script&gt;</code> tag to your page, below the references to Fabric&#39;s JS, to instantiate all PersonaCard components on the page:
        <pre>
 <code>
{{renderPartialPre "PersonaCard" "PersonaCardExampleJS" "" false}}
 </code>
</pre>
    </li>
    <li>Verify that the component is working the same as in the sample above.</li>
    <li>Replace the sample HTML content with your content.</li>
</ol>
<h2 id="dependencies">Dependencies</h2>
<p>This component uses a Persona component to present the person, an OrgChart to present the persona&#39;s position within the organization, and a Link for navigation.</p>

{{> PersonaCardExampleJS }}