<h1 id="message-bar">Message Bar</h1>
<h2 id="variants">Variants</h2>
<h3 id="default">Default</h3>
<p>Lowest level of caution. Use when you want to present timely, concise information that accelerates a workflow, or to provide key information or actions that avoid a dead end in the experience.</p>

{{> MessageBar props=MessageBarExampleProps.default }}

<h3 id="warning">Warning</h3>
<p>Use in exceptional situations where the use should be mindful of some sort of temporary condition. Notably, yellow is the most visible color to the human eye.</p>

{{> MessageBar props=MessageBarExampleProps.warning }}

<h3 id="severe-warning">Severe Warning</h3>
<p>Use for a situation that is not harmful or destructive yet but could easily turn into one. (e.g. You&#39;re about to run out of storage space).</p>

{{> MessageBar props=MessageBarExampleProps.severeWarning }}

<h3 id="error">Error</h3>
<p>Use when a serious failure or error has occured and information may have been lost or some actions are impossible.</p>

{{> MessageBar props=MessageBarExampleProps.error }}

<h3 id="blocked">Blocked</h3>
<p>Use when the user is explicitly forbidden from a particular action not because of an error, but because of security restrictions or policy enforcements.</p>

{{> MessageBar props=MessageBarExampleProps.blocked }}

<h3 id="success">Success</h3>
<p>Use sparingly when there&#39;s an exceptional need to tell the use that something went right. The preferred way to show success is to show, not tell (e.g. by navigating to show the result of the user action and letting users continue working on it or
    elsewhere).</p>

{{> MessageBar props=MessageBarExampleProps.success }}

<h2 id="using-this-component">Using this component</h2>
<ol>
    <li>Confirm that you have references to Fabric&#39;s CSS on your page:<pre><code> &lt;head&gt;
     &lt;link rel=&quot;stylesheet&quot; href=&quot;fabric.min.css&quot;&gt;
     &lt;link rel=&quot;stylesheet&quot; href=&quot;fabric.components.min.css&quot;&gt;
 &lt;/head&gt;
</code></pre></li>
    <li>Copy the HTML from one of the samples above into your page. For example:
        <pre>
 <code>
{{renderPartialPre "MessageBar" "MessageBarExample" MessageBarExampleProps.default false}}
 </code>
</pre>
    </li>
    <li>Verify that the component is working the same as in the sample above.</li>
    <li>Replace the sample HTML content (such as the content of <code>.ms-MessageBar-text</code>) with your content.</li>
</ol>
<h2 id="dependencies">Dependencies</h2>
<p>Link</p>