<div class="hero">
  <h1 class="title">Office UI Fabric JS</h1>
  <span class="tagline">Simple components that focus on appearance and styling while showing the visual language of Office.</span>
  <a href="{{relativePath}}GetStarted/GetStarted.html" class="button primaryButton">Get started</a>
  <span class="version">Fabric Core {{packageData.dependencies.office-ui-fabric-core}} and Fabric JS {{packageData.version}}</span>
</div>
<div class="flavors">
  <div class="flavor">
    <img src="./images/logo-js-white.svg" width="100" height="100" alt="Javascript logo" />
    <span class="flavorTitle">Framework-independent and open source</span>
    <p class="flavorDescription">Fabric JS provides you with simple components that don't require a framework.  It's open source, easy to extend, and ready for you to add what makes your project unique.</p>
    <p class="flavorDescription">Fabric JS works great with Add-ins and is the recommended front-end toolkit for making your next Office Add-in.</p>
    <a href="./Components/Breadcrumb/Breadcrumb.html" class="button">See components</a>
  </div>
</div>