$od-Header-height: 50px;
$od-Header-searchHeight: 33px;
$od-Header-bannerWidth: 1300px;

.od-Header {
  background-color: $ms-color-black;
  height: $od-Header-height;
  left: 0;
  padding: 0 8px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}

.od-Header-banner {
  height: $od-Header-height;
  position: relative;
  width: 100%;

  @media (min-width: $od-Header-bannerWidth) {
     width: $od-Header-bannerWidth;
     margin: auto;
  }
}

@media (min-width: $od-Header-bannerWidth) {
  .od-Header-logo {
    @include padding-left(8px);
  }
}


.od-Header-navigationContainer {
  position: absolute;
  left: 0;
  right: 0;
  height: $od-Header-height;
  background-color: $ms-color-black;
  display: none;
  padding-bottom: 1px;
  box-sizing: content-box;

  &.is-open {
    display: block;
  }

  @include high-contrast {
    border: 1px solid $ms-color-white;
    border-top: 0;
  }
  
  @include high-contrast-black-on-white  {
    border: 1px solid $ms-color-black;
    border-top: 0;
  }

}


@media (min-width: $od-Header-bannerWidth) {
  .docs-showNavigation {
    display: block;
  }
}