<h1 id="people-picker">People Picker</h1>
<p>A form input that allows for the choice of one or more people.</p>
<h2 id="variants">Variants</h2>
<h3 id="default">Default</h3>
<p>Uses the standard sized Persona component. {{> PeoplePicker props=PeoplePickerExampleProps.default}}
</p>
<h3 id="compact">Compact</h3>
<p>Use the extra small Persona component to fit more results. {{> PeoplePicker props=PeoplePickerExampleProps.compact}}
</p>
<h3 id="face-pile">Face pile</h3>
<p>Presents the selected people in a list below the search field, rather than inline. {{> PeoplePicker props=PeoplePickerExampleProps.facePile}}
</p>
<h2 id="using-this-component">Using this component</h2>
<ol>
    <li>Confirm that you have references to Fabric&#39;s CSS and JavaScript on your page:<pre><code> &lt;head&gt;
     &lt;link rel=&quot;stylesheet&quot; href=&quot;fabric.min.css&quot;&gt;
     &lt;link rel=&quot;stylesheet&quot; href=&quot;fabric.components.min.css&quot;&gt;
     &lt;script src=&quot;fabric.min.js&quot;&gt;&lt;/script&gt;
 &lt;/head&gt;
</code></pre></li>
    <li>Copy the HTML from one of the samples above into your page. For example:
        <pre>
 <code>
{{renderPartialPre "PeoplePicker" "PeoplePickerExample" PeoplePickerExampleProps.default false}}
 </code>
</pre>
    </li>
    <li>Add the following <code>&lt;script&gt;</code> tag to your page, below the references to Fabric&#39;s JS, to instantiate all PeoplePicker components on the page:
        <pre>
 <code>
{{renderPartialPre "PeoplePicker" "PeoplePickerExampleJS" "" false}}
 </code>
</pre>
    </li>
    <li>Verify that the component is working the same as in the sample above.</li>
    <li>Replace the sample HTML content with your content.</li>
</ol>
<h2 id="dependencies">Dependencies</h2>
<p>This component uses Persona and PersonaCard to display people and Label for the Members List variant. It also uses a Spinner when searching for results.</p>

{{> PeoplePickerExampleJS}}