<h1 id="persona">Persona</h1>
<p>Represents a person, complete with a profile image and additional details. Where a profile image is not available, the user&#39;s initials can be shown instead.</p>
<h2 id="variants">Variants</h2>
<h3 id="circle-default-">Circle (default)</h3>
<p>Six sizes are available: tiny, extraSmall, small, default, large, and extraLarge {{> Persona props=PersonaExampleProps.tiny}} {{> Persona props=PersonaExampleProps.extraSmall}} {{> Persona props=PersonaExampleProps.small}} {{> Persona props=PersonaExampleProps.default}}
    {{> Persona props=PersonaExampleProps.large}} {{> Persona props=PersonaExampleProps.extraLarge}}
</p>
<h3 id="initials">Initials</h3>
<p>Don&#39;t have a profile image for the user? Provide the person&#39;s initials as an alternative. {{> Persona props=PersonaExampleProps.initials}}
</p>
<h3 id="presence-indicators">Presence indicators</h3>
<p>A persona can have one of seven presences: available, away, blocked, busy, do not disturb, and offline. {{> Persona props=PersonaExampleProps.presenceAvailable}} {{> Persona props=PersonaExampleProps.presenceAway}} {{> Persona props=PersonaExampleProps.presenceBlocked}}
    {{> Persona props=PersonaExampleProps.presenceBusy}} {{> Persona props=PersonaExampleProps.presenceDND}} {{> Persona props=PersonaExampleProps.presenceOffline}}
</p>
<h3 id="token">Token</h3>

{{> Persona props=PersonaExampleProps.token}} {{> Persona props=PersonaExampleProps.token}} {{> Persona props=PersonaExampleProps.token}}

<h3 id="facepile">FacePile</h3>

{{> Persona props=PersonaExampleProps.facePile}} {{> Persona props=PersonaExampleProps.facePile}} {{> Persona props=PersonaExampleProps.facePile}}

<h2 id="using-this-component">Using this component</h2>
<ol>
    <li>Confirm that you have references to Fabric&#39;s CSS on your page:<pre><code> &lt;head&gt;
     &lt;link rel=&quot;stylesheet&quot; href=&quot;fabric.min.css&quot;&gt;
     &lt;link rel=&quot;stylesheet&quot; href=&quot;fabric.components.min.css&quot;&gt;
 &lt;/head&gt;
</code></pre></li>
    <li>Copy the HTML from one of the samples above into your page. For example:
        <pre>
 <code>
{{renderPartialPre "Persona" "PersonaExample" PersonaExampleProps.default false}}
 </code>
</pre>
    </li>
    <li>Add the following <code>&lt;script&gt;</code> tag to your page, below the references to Fabric&#39;s JS, to instantiate all Persona components on the page:
        <pre>
 <code>
{{renderPartialPre "Persona" "PersonaExampleJS" "" false}}
 </code>
</pre>
    </li>
    <li>Replace the sample HTML content (such as the name within <code>.ms-Persona-primaryText</code>) with your content.</li>
</ol>
<h2 id="dependencies">Dependencies</h2>
<p>This component has no dependencies.</p>

{{> PersonaExampleJS}}