<div class="docs-DialogExample-blocking">
  {{> Dialog props=props }}
  <button class="ms-Button docs-DialogExample-button">Open Dialog</button>
  <label class="docs-DialogExample-label"></label>
</div>