<!-- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE in the project root for license information. -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Office Fabric JS</title>

    <script type="text/javascript" src="/js/fabric.min.js"></script>
    <link rel="stylesheet" href="/styles.css">
	<link rel="stylesheet" href="/css/fabric.min.css">
	<link rel="stylesheet" href="/css/fabric.components.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
    {{#if pageInfo.isDatePicker}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
    <script type="text/javascript" src="/lib/PickaDate.js"></script>
    {{/if}}
</head>
<body>
    <div id="main">
        <div class="ms-Fabric ms-font-m App">
            <header class="od-Header">
                <div class="od-Header-banner">
                    <div class="od-Header-logo">
                        <div class="od-Logo-link">
                            <img src="/images/logo-office-dev.svg" width="190" height="48" alt="Office dev center logo image">
                        </div>
                    </div>
                </div>
            </header>
            <div class="App-wrapper">
                <div class="App-nav">
                    <nav class="nav">
                        <ul class="links">
                            <li class="link isHomePage fabricPage">
                                <a href="#/" title="Home page" aria-label="Home Page">Fabric JS</a>
                            </li>
                            <li class="link GetStarted getStartedPage">
                                <a class="getStarted" href="/GetStarted/GetStarted.html">Get Started</a>
                            </li>
                            <li class="link linkToggle Components">
                                <a href="#">Components</a>
                                <ul class="links isSubMenu">
                                    <% components.forEach(function(component) { %>
                                        <li class="link">
                                            <a href="/Components/<%= component.name %>/<%= component.name %>.html"><%= component.name %></a>
                                        </li>
                                    <% }); %>
                                </ul>
                            </li>
                            <li class="link backToFabricSite">
                                <a href="#">Back to Fabric Site</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div id="mainContent" class="App-content">
                    {{ renderDocPage props=props }}
                </div>
            </div>
        </div>
    </div>
</body>
<script>
(function(){
    var mainContainer = document.getElementById('mainContent');
    var toggleLinks = document.querySelectorAll('.linkToggle > a');
    function linkToggle() {
        (this.parentNode.classList.contains('isActive')) ?
        this.parentNode.classList.remove('isActive') :
        this.parentNode.classList.add('isActive');
    }

    for (var i = 0; i < toggleLinks.length; i++) {
        toggleLinks[i].addEventListener('click', linkToggle);
    }

    function navLinkHighlight() {
        const NAV_LINKS = document.querySelectorAll('.nav > .links > .link');
        let URL_PATH = window.location.pathname;
        URL_PATH = URL_PATH.split('/');

        var selected = document.getElementsByClassName(URL_PATH[1])[0];
        if (selected) {
            selected.classList.add('isActive');
        }
    }

    navLinkHighlight();
})();

    
</script>
</html>